Case 1 : 
    RI :
    Aurora : r5.xlarge


| Replication Instance | Aurora Instance | Parallel Load | Elapsed Time |
| -------------------- | --------------- | ------------- | ------------ |
| 2xlarge              | xlarge          | 8             | 2hr 9m       |
| 2xlarge              | 2xlarge         | 8             | 1hr 24m      |
| 2xlarge              | 4xlarge         | 8             | 1hr 24m      |
| 2xlarge              | 8xlarge         | 8             | 1hr 22m      |


<kbd> ![GitHub Logo](DMS-Test-Result-images/1.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/2.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/3.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/4.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/5.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/6.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/7.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/8.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/9.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/10.png) </kbd>