Case 1 : 
    RI :
    Aurora : r5.xlarge


<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/1.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/2.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/3.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/4.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/5.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/6.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/7.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/8.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/9.png) </kbd>

<kbd> ![GitHub Logo](oracle-to-s3-datalake-images/10.png) </kbd>