# Case 1 : 


| Replication Instance | Aurora Instance | Parallel Load | Elapsed Time |
| -------------------- | --------------- | ------------- | ------------ |
| xlarge               | xlarge          | 8             | 2hr 9m       |
| xlarge               | 2xlarge         | 8             | 1hr 24m      |
| xlarge               | 4xlarge         | 8             | 1hr 24m      |
| xlarge               | 8xlarge         | 8             | 1hr 22m      |


<kbd> ![GitHub Logo](DMS-Test-Result-images/1.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/2.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/3.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/4.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/5.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/6.png) </kbd>


# Case 2 : 

| Replication Instance | Aurora Instance | Parallel Load | Elapsed Time |
| -------------------- | --------------- | ------------- | ------------ |
| 2xlarge              | xlarge          | 8             | 2hr 11m      |
| 2xlarge              | 2xlarge         | 8             | 1hr 2m       |
| 2xlarge              | 4xlarge         | 8             | 47m          |
| 2xlarge              | 8xlarge         | 8             | 48m          |


<kbd> ![GitHub Logo](DMS-Test-Result-images/11.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/12.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/13.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/14.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/15.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/16.png) </kbd>


# Case 3 : 

| Replication Instance | Aurora Instance | Parallel Load | Elapsed Time |
| -------------------- | --------------- | ------------- | ------------ |
| 4xlarge              | xlarge          | 8             | 2hr 11m      |
| 4xlarge              | 2xlarge         | 8             | 1hr 1m       |
| 4xlarge              | 4xlarge         | 8             | 37m          |
| 4xlarge              | 8xlarge         | 8             | 35m          |


<kbd> ![GitHub Logo](DMS-Test-Result-images/22.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/23.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/24.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/25.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/26.png) </kbd>

# Case 4 : 

| Replication Instance | Aurora Instance | Parallel Load | Elapsed Time |
| -------------------- | --------------- | ------------- | ------------ |
| 8xlarge              | xlarge          | 8             | 2hr 8m       |
| 8xlarge              | 2xlarge         | 8             | 1hr 1m       |
| 8xlarge              | 4xlarge         | 8             | 37m          |
| 8xlarge              | 8xlarge         | 8             | 35m          |


<kbd> ![GitHub Logo](DMS-Test-Result-images/31.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/32.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/33.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/34.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/35.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/36.png) </kbd>









<kbd> ![GitHub Logo](DMS-Test-Result-images/7.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/8.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/9.png) </kbd>

<kbd> ![GitHub Logo](DMS-Test-Result-images/10.png) </kbd>